{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- with .Params.sectionNumber }}
  <span class="page-header__index" aria-hidden="true">{{ . }}</span>
  {{- end }}
  <h1>{{ .Title }}</h1>
  {{- with .Description }}
  <div class="post-description">{{ . | markdownify }}</div>
  {{- end }}
</header>
{{- end }}

{{- with .Content }}
<div class="post-content">
  {{- if not ($.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" . }}
  {{- else }}
  {{- . }}
  {{- end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- end }}
{{- $paginator := .Paginate $pages }}

{{- range $index, $page := $paginator.Pages }}
{{- $class := "post-entry" }}
{{- if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not (or site.Params.disableSpecial1stPost site.Params.homeInfoParams)) }}
  {{- $class = "first-entry" }}
{{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  {{- if ne (.Param "hideSummary") true }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">{{- partial "post_meta.html" . -}}</footer>
  {{- end }}
  <a class="entry-link" aria-label="Open {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- with $paginator.Prev }}
    <a class="prev" href="{{ .URL | absURL }}">Previous</a>
    {{- end }}
    {{- with $paginator.Next }}
    <a class="next" href="{{ .URL | absURL }}">Next</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}
{{- end }}
